@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Arcadia University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Arcadia University</h2>
        <p>
            Arcadia University is a place of learning, innovation, and discovery. We are dedicated to the advancement of knowledge and the education of students in the magical arts. 
            Our faculty and staff are committed to helping students reach their full potential and achieve their dreams.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Choose between five unique collages to study magic!</h2>
        <p>
            Arcadia University is home to five unique colleges, each with its own distinct personality and magical focus. 
            Whether you are interested in the study of magic, the pursuit of knowledge, or the exploration of the unknown, there is a college for you at Arcadia University.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Discover more about the individual roles of each collage here!</h2>
        <a href="https://magic.wizards.com/en/products/Arcadia">
            <img src="~/images/arcadia.png" alt="Arcadia Colleges" class="img-thumbnail" />
        </a>
    </div>
</div>